.swiper-wrapper{
    gap: 0px !important;
}

/* .swiper-slide {
    transition: opacity 0.5s ease;
    opacity: 0.5;
  } */

  .swiper-slide-active {
    opacity: 1 !important;
  }

.swiper-slide-custom {
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
  width: 94% !important; /* 80% of container width */
 
}

.swiper-slide-active.swiper-slide-custom {
  opacity: 1 !important;
}