/* .opensort::-webkit-scrollbar{
  display: none;
} */
/* .Tabbtn{
  width: 150px;
} */
.carcular-conui {
  border: 1.5px solid rgba(264, 264, 264, 0.5);
  border-radius: 50%;
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
}

.carcular-ui {
  margin: 7.5px;
}

.box-container-product {
  box-shadow: 0 1px 4px rgba(17, 17, 17, 0.3);
  text-align: initial;
  display: flex;
  text-decoration: none;
  background-color: #fff;
  color: #000;
}

.usercon {
  border: 1.5px solid #111;
  padding: 2px;
}

.feedcon {
  align-items: center;
  gap: 10px;
}

.bloc-tabs2 {
  position: sticky;
  top: 0;
  background-color: transparent;
  overflow-x: auto;
}
.stickyDrop {
  position: sticky;
  top: 0;
  z-index: 999;
}

.price-box {
  /* box-shadow: 0.08em 0.08em 0 rgb(red, 204, 0, 8); */
  box-shadow: 3px 3px rgb(173, 53, 53);
}

.Tabbtn {
  outline: none;
  width: 150px;
}

/* .active-tabs.Tabbtn {
  width: 150px;
 
} */

/* .tabS.Tabbtn {
  width: 150px;

} */

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

.checkbox-div {
  visibility: hidden;
}
.checkbox-div.visible {
  visibility: visible;
}

.hover-divnine:hover .checkbox-div {
  visibility: visible;
}

@media screen and (max-width: 450px) {
  .product-image {
    width: 120px;
    height: 70px;
  }

  .hover-divnine:nth-child(2n) {
    padding-left: 0.75rem;
    border-right: none;
  }

  .hover-divnine:nth-child(n) {
    padding-right: 0.75rem;
  }

  .hover-divnine:nth-child(2) {
    padding-right: 0;
  }

  .hover-divnine:nth-child(3) {
    border-bottom: none;
  }

  .hover-divnine:nth-child(4) {
    border-bottom: none;
    padding-right: 0;
  }

  .Tabbtn {
    outline: none;
    /* Add any common styles for the button here */
  }

  .active-tabs.Tabbtn {
    width: 100px;
  }

  .tabS.Tabbtn {
    width: 100px;
    /* Add styles for the inactive state (when the dropdown is closed) */
  }
}

/* 
.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
} */

/* .bloc-tabs2{
  position: sticky;
  top:0;

} */

/* .dropdown1 {
  position: relative;
  z-index: 999999;
}

.dropdown1 .absolute {
  position: absolute;
  top: 100%;
  left: 0;
} */

.slide {
  border-radius: 0.1rem;
  width: 100%;
  height: 100%;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12));
  width: 30px;
  height: 30px;
  color: white;
  margin-top: -13px;
}

.card:hover .arrow {
  position: absolute;
  /* filter: drop-shadow(0px 2px 6px rgba(0,0,0,0.12)); */
  width: 30px;
  height: 30px;
  color: white;
  outline: #000;
  opacity: 100%;
}

.arrow:hover {
  cursor: pointer;
  opacity: 100%;
  transform: scale(1.04);
  filter: drop-shadow(0px, 6px, 16px, rgba(0, 0, 0, 0.0018));
}

.arrow-left {
  left: 1rem;
  margin-top: 2px;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  /* bottom: 1rem; */
}

.indicator {
  background-color: white;
  height: 0.4rem;
  width: 0.4rem;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
  border-radius: 50%;
}

.indicator-inactive {
  background-color: #ccc;
  opacity: 0.7;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  transition-duration: 2s !important;
  width: 30% !important;
  left: 0% !important;
  top: 99% !important;
  height: 2.5px !important;
}

.swiper-scrollbar {
  background-color: white !important;
}

.swiper-scrollbar-drag {
  background-color: #000 !important;
  border-radius: 0px !important;
}

.swiper-wrapper {
  display: flex;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.background-overlay.open {
  opacity: 1;
  pointer-events: auto; /* Enable interaction with the overlay */
}

/* Table Styling for Card Descriptions and Features */
.card-description table,
div[dangerouslySetInnerHTML] table,
table {
  border-collapse: collapse !important;
  width: 100% !important;
  margin: 10px 0 !important;
  background-color: #fff !important;
}

.card-description table th,
.card-description table td,
div[dangerouslySetInnerHTML] table th,
div[dangerouslySetInnerHTML] table td,
table th,
table td {
  border: 2px solid #838383 !important;
  padding: 12px 15px !important;
  text-align: left !important;
}

.card-description table th,
div[dangerouslySetInnerHTML] table th,
table th {
  background-color: #f0f0f0 !important;
  font-weight: bold !important;
  text-align: center !important;
}

.card-description table tr:hover,
div[dangerouslySetInnerHTML] table tr:hover,
table tr:hover {
  background-color: #f9f9f9 !important;
}
